* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana;
  list-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.navbar {
  background-color: dodgerblue;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(to right, rgba(13, 87, 184, 0.5), rgba(40, 179, 249, 0.5));
}
.navbar-toggler {
  border: none;
}
.navbar-toggler i {
  color: azure;
}

#hero {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 90vh;
  color: white;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(Images/Hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#hero h1 {
  font-size: 50px;
  padding-right: 20px;
}
#hero button {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: deepskyblue;
  color: white;
  margin-bottom: 10px;
  position: static;
}

h2 {
  background-color: rgba(4, 73, 113, 0.6);
  color: white;
  text-align: center;
  padding: 20px;
  margin: 0%;
}

.col-sm-6 {
  height: 500px;
}
.col-sm-6.nright {
  height: auto;
  background-color: rgb(216, 236, 243);
}
.col-sm-6.nleft {
  background-image: url(Images/plane-4301615_1280.png);
  background-size: cover;
  background-position: center;
}

.container {
  max-width: 1200px;
}

.d-item {
  height: 800px;
}

.d-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

.contacto {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(Images/Atencion.jpg);
  background-size: cover;
}
.contacto .content {
  max-width: 800px;
  text-align: center;
}
.contacto .content h2 {
  font-size: 36px;
  font-weight: 500;
  color: #fff;
}
.contacto .content p {
  font-weight: 300;
  color: #fff;
}
.contacto .containerA {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.contacto .contactoForm {
  width: 40%;
  padding: 40px;
  background: #fff;
}
.contacto .contactoForm h2 {
  font-size: 30px;
  color: #fff;
  font-weight: 500;
}
.contacto .contactoForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contacto .contactoForm .inputBox input {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid deepskyblue;
  outline: none;
  resize: none;
}
.contacto .contactoForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}
.contacto .contactoForm .inputBox input[type=submit] {
  width: 100px;
  background: dodgerblue;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}
@media (max-width: 991px) {
  .contacto {
    padding: 50px;
  }
  .contacto .containerA {
    flex-direction: column;
  }
  .contacto .containerA .contactoForm {
    width: 100%;
  }
}

.footer {
  background-color: rgba(4, 73, 113, 0.6);
  padding: 80px 0;
}
.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer-links {
  width: 25%;
  padding: 0 15px;
}
.footer-links h4 {
  font-size: 20px;
  color: white;
  margin-bottom: 25px;
  font-weight: 500;
  border-bottom: 2px solid rgb(7, 102, 169);
  padding-bottom: 10px;
  display: inline-block;
}
.footer-links ul li a {
  font-size: 18px;
  text-decoration: none;
  color: aliceblue;
  display: block;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}
.footer-links ul li a:hover {
  color: rgb(60, 171, 241);
  padding-left: 6px;
}
.footer .social-link a {
  display: inline-block;
  min-height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  line-height: 40px;
  margin: 0 10px 10px 0;
  border-radius: 50%;
  color: aliceblue;
  transition: all 0.5s ease;
}
.footer .social-link a:hover {
  background-color: dodgerblue;
}
@media (max-width: 991px) {
  .footer-row {
    text-align: center;
  }
  .footer-links {
    width: 100%;
    margin-bottom: 30px;
  }
}

  .card {
    transition: all 0.5s;
  }

  .card:hover {
    transform: scale(1.05);
  }

  .image-with-text {
    margin-top: 30px;
    display: flex;
    padding: 20px;
    align-items: center; 
  }
  
  .image-container {
    flex: 0 0 auto;
    margin-right:20px; 
  }

  .image-container img{
    border-radius: 20px;
    height: auto;
    max-width: 100%;
  }
  
  .text-container {
    flex: 1;
    margin-left: 20px;
  }
  
  @media (max-width:990px){
    .image-with-text{
      display: flex;
      flex-direction: column;
    }

    .text-container h3{
      margin-top: 20px;
    }

    .reverse{
      display: flex;
      flex-direction: column-reverse;
    }
  }

  .container-img{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px;
    grid-gap: 20px;
  }


  .container-img .box-img figure{
    width: 100%;
    height: 100%;
  }

  .container-img .box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .box-img:hover,
  .box-img:focus{
    box-shadow: 0 0.5em 0.5em -0.4em var (--hover);
    transform: translateY(-0.25em);
    transition: all 0.6s;
}

  .container-img .box-img:nth-child(1){
    grid-column-start: span 2 ;
  }

  .container-img .box-img:nth-child(4){
    grid-row-start: span 2;
  }

  @media screen and (max-width:800px){
    .container-img{
      width: 95%;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
      grid-template-rows: 200px;
    }

    .container-img .box-img:nth-child(1){
      grid-column-start: span 1;
    }

    #exclusivo{
      flex-direction: column;
    }

    #exclusivo img{
      width: 100%;
      height: auto;
    }
  }

  @media screen and (max-width:500px){
    .container-img{
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
    }

    .container-img .box-img img{
      height:200px;
    }

  }

  #exclusivo{
    padding: 50px 50px;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  #exclusivo img{
    border-radius: 100%;
  }

  #exclusivo div{
    padding: 30px 30px;
  }

  #exclusivo div h4{
    color: #666;
    font-size: 20px;
    margin: 15px 0px;
  }

  #exclusivo div p{
    color: #666;
    font: 18px;
  }

  .boton-saber-mas{
    display: inline-block;
    text-decoration: none;
    color: cornflowerblue;
    padding: 10px 30px;
    border: 3px solid cornflowerblue;
    border-radius: 30px;
    margin-top: 15px;
    transition: all 0.4s;
  }

  .boton-saber-mas:hover{
    background-color: cornflowerblue;
    color: #fff;
    text-decoration: none;
  }
/*# sourceMappingURL=style.css.map */
